#gamebody
{
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#menu
{
    margin-left:auto;
    margin-right: auto;
    width:50%;
}
#cardtable {
    margin-left: auto;
    margin-right: auto;
}
.card
{
    background-image: url('images/black.png');
    font-size:25px;
    border: 1px solid black;
    width: 2em;
    height: 2em;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.selected
{
    background-image: url('images/white.png');
    color:brown;
}
.used
{
    color:green;
    opacity: 0.2;    
}
