#gamebody
{
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    -webkit-user-select: none;
    -moz-user-select:none;
    user-select:none;
    cursor: default;
}
#menu
{
    position: fixed;
    width: 100px;
    
}
#cardtable {
    margin-left: auto;
    margin-right: auto;
}
.card
{
    background-blend-mode: multiply,normal;
    font-family: 'Helvetica';
    /*background-image: url('images/black.png');*/
    display: table-cell;
    background: gray;
    font-size:25px;
    width: 2em;
    height: 2em;
    font-size: 3em;
    cursor: pointer;
    transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    text-align: center;
    vertical-align: middle;
    color:rgba(0,0,0,0);
    border: 2px solid black;
    border-radius: 10px;
    background-image: 
    repeating-linear-gradient(
      45deg,
      gray,
      gray 20px,
      white 20px,
      white 40px /* determines size */
    ),
     repeating-linear-gradient(
      135deg,
      gray,
      gray 20px,
      white 20px,
      white 40px /* determines size */
    );
}
.selected
{
    /*background-image: url('images/white.png');*/
    color:black;
    background: white !important;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.used
{
    color: black;
    opacity: 0.1;  
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
