#gamebody
{
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#cardtable {
    margin-left: auto;
    margin-right: auto;
}
.card
{
    background-image: url('images/black.png');
    font-size:25px;
    border: 1px solid black;
}
.selected
{
    background-image: url('images/white.png');
    color:brown;
}
.used
{
    color:green;
    opacity: 0.2;    
}
